/* Nexa font for EN*/
@font-face {
    font-family: 'nexa';
    src: url('nexa_light-webfont.woff2') format('woff2'),
        url('nexa_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexa';
    src: url('nexa_bold-webfont.woff2') format('woff2'),
        url('nexa_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

html {
    height: 100%;
}

/* set the EN-TH font */
body {
    font-family: 'nexa' , 'Prompt', sans-serif;
}

/* CSS additional grid */
.col-05 { width: 4.165%; }

/* log in page */
.login {
    color: #ffffff;
    width: 25%;
    font-size: 1vw;
    height: fit-content;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 0.1em;
}

/* log in's input */
.login input[type=text], .login input[type=password] {
    width: 100%;
    color: #ffffff;
    padding-top: 0.4em;
    padding-left: 0.7em;
    padding-bottom: 0.4em;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 3px solid #ffffff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin-bottom: 1em;
    letter-spacing: 0.15em;
}

.login input[type=text]::placeholder, .login input[type=password]::placeholder {
    color: #ffffff;
    opacity: 50%;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
}

.login input[type=text]:hover::placeholder, .login input[type=password]:hover::placeholder {
    opacity: 100%;
}

.login input[type=text]:focus::placeholder, .login input[type=password]:focus::placeholder {
    opacity: 50%;
}

/* log in's button */
#loginbtn {
    background-color: #ffffff;
    color: #005063;
    letter-spacing: 0.05em;
    width: fit-content;
    padding-top: 0.7em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 0.55em;
    border: none;
    border-radius: 25px;
    margin-bottom: 0.5em;
    text-align: center;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    cursor: pointer;
}

#loginbtn:hover {
    background-color: #8cffbb;
}

#loginbtn:active {
    background-color: #005063;
}

/* app logo in log in's page */
#qffulllogo{
    width: 65%;
}

/* log in error's alert */
.erralert {
    color: #ff8a8a;
}

/* contact link */
.contactlink {
    color: #ffffff;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
}

.contactlink:hover {
    color: #8cdeff;
    text-decoration: none;
}

.contactlink:active {
    color: #005063;
    text-decoration: none;
}

/* navbar */
.qfnavbar {
    color: #ffffff;
    font-size: 1vw;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
}

.qfnavbar p {
    margin: 0.75vw;
    text-align: center;
}

.qfnavbar a {
    color: #ffffff;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
}

.qfnavbar a:hover {
    color: #52ffdc;
    text-decoration: none;
}

.qfnavbar input[type=text] {
    width: 100%;
    color: #ffffff;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 3px solid #ffffff;
    opacity: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    letter-spacing: 0.05em;
}

.qfnavbar input[type=text]::placeholder {
    color: #ffffff;
}

.qfnavbar input[type=text]:hover {
    opacity: 100%;
}

.qfnavbar input[type=text]:focus {
    opacity: 100%;
}

.qfnavbar input[type=text]:focus::placeholder {
    opacity: 50%;
}

#qflogo {
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* log out button in navbar */
#logout p{
    padding: 0.5em;
    border-radius: 2em;
    -webkit-transition-duration: 0.35s;
    -moz-transition-duration: 0.35s;
    -o-transition-duration: 0.35s;
    transition-duration: 0.35s;
}

#logout p:hover{
    background-color: #ffa8a8;
    color: #555555;
}

.home {
    background-color: #ffffff;
    color: #555555;
    font-size: 1vw;
}

/* the menu in the main page */
/*
.menu {
    color: #ffffff;
    width: 100%;
    height: fit-content;
    font-size: 1.5vw;
    padding: 0;
    position: absolute;
    text-align: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu p {
    margin: 1vw;
}

.menu .forwho {
    margin-top: 0;
    margin-bottom: 1vw;
}

.menu a {
    text-decoration: none;
}

.menu #qffulllogo {
    width: 50%;
}

.menubar {
    background-color: #ffffff;
    color: #005063;
    padding: 1vw;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.menubar:hover {
    background-color: transparent;
    color: #ffffff;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.menubar:active {
    background-color: #52ffdc;
    color: #ffffff;
}
*/
/* ----------------------------------------------------------------------------------------------------------*/

/* responsive in a lanscape orientation */
@media only screen and (orientation: landscape) {
    body {
        background: #2cac89;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #005063, #197a67, #2cac89);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #005063, #197a67, #2cac89); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        height: 100%;
        margin: 0;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    /* for extra small devices */
    @media only screen and (max-width: 575.98px) {
        .login {
            width: 35%;
            font-size: 1.8vw;
        }
    
        #qffulllogo {
            width: 75%;
        }
    }

    /* for small devices */
    @media only screen and (min-width: 576px) and (max-width: 767.98px) {
        .login {
            width: 32.5%;
            font-size: 1.6vw;
        }
    
        #qffulllogo {
            width: 70%;
        }
    }

    /* for normal-sized devices */
    @media only screen and (min-width: 768px) and (max-width: 991.98px) {
        .login {
            width: 30%;
            font-size: 1.4vw;
        }
    
        #qffulllogo {
            width: 70%;
        }
    }

    /* for large devices */
    @media only screen and (min-width: 992px) and (max-width: 1199.98px) {
        .login {
            width: 27.5%;
            font-size: 1.2vw;
        }

        #qffulllogo {
            width: 75%;
        }
    }

    /* for extra large devices */
    @media only screen and (min-width: 1200px) {
        .login {
            width: 25%;
        }

        #qffulllogo {
            width: 80%;
        }


    }
}

/* responsive in a portrait orientation */
@media only screen and (orientation: portrait) {
    body {
        background: #2cac89;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to top, #005063, #197a67, #2cac89);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, #005063, #197a67, #2cac89); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        height: 100%;
        margin: 0;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    /* for extra small devices */
    @media only screen and (max-width: 575.98px) {
        .login {
            width: 65%;
            font-size: 1.5vh;
        }
    
        #qffulllogo {
            width: 75%;
        }
    }

    /* for small devices */
    @media only screen and (min-width: 576px) and (max-width: 767.98px) {
        .login {
            width: 50%;
            font-size: 1.8vh;
        }
    
        #qffulllogo {
            width: 75%;
        }
    }

    /* for normal-sized devices */
    @media only screen and (min-width: 768px) and (max-width: 991.98px) {
        .login {
            width: 50%;
            font-size: 1.7vh;
        }
    
        #qffulllogo {
            width: 70%;
        }
    }

    /* for large devices */
    @media only screen and (min-width: 992px) and (max-width: 1199.98px) {
        .login {
            width: 50%;
            font-size: 1.6vh;
        }

        #qffulllogo {
            width: 75%;
        }
    }

    /* for extra large devices */
    @media only screen and (min-width: 1200px) {
        .login {
            width: 50%;
            font-size: 1.4vh;
        }

        #qffulllogo {
            width: 80%;
        }
    }
}